body {
    font-size: 23px;
    font-family: sans-serif;
    background-color: #f1f1f1;
}

header {
    background-color: #0081B4;
    border-radius: 8px;
}



a.gb-title {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
a.gb-title:hover{
    color:#fff;
}
nav {
    margin-top: 27px;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 50px;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

nav .start-trangchu,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #EFA3C8;
}

nav .start-gioithieu,
a:nth-child(2):hover~.animation {
    width: 100px;
    left: 8.33%;
    background-color: #EFA3C8;
}

nav .start-sanpham,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 16.66%;
    background-color: #EFA3C8;
}

nav .start-tintuc,
a:nth-child(4):hover~.animation {
    width: 100px;
    left: 25%;
    background-color: #EFA3C8;
}

nav .start-lienhe,
a:nth-child(5):hover~.animation {
    width: 100px;
    left: 33.33%;
    background-color: #EFA3C8;
}

nav .start-dangky,
a:nth-child(7):hover~.animation {
    width: 100px;
    left: 82.67%;
    background-color: #EFA3C8;
}

nav .start-dangnhap,
a:nth-child(8):hover~.animation {
    width: 100px;
    left: 91.10%;
    background-color: #EFA3C8;
}

.logo {
    width: 200px;
}

.btn-nav {
    margin-top: 175px;
    margin-right: 10px;
}

.btn-nav .btn {
    font-size: 25px;
    border: none;
    color: #FFF;
}

.btn-nav .btn:hover {
    color:  #FFF;
}

.btn-nav .ip {
    background-color: #0081B4;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid  #FFF;
}

::-webkit-input-placeholder {
   color:  #FFF;
}
:-moz-placeholder {
   color:  #FFF;
}
::-moz-placeholder {
   color:  #FFF;
}
:-ms-input-placeholder {
   color:  #FFF;
}


/* footer */
footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

footer .row{
    border: 1px solid  #0081B4;
    border-radius: 8px;
    /* background-color: #0081B4; */
    /* color: #FFF; */
}

.go-top {
    position: fixed;
    border: 0;
    right: 5px;
    bottom: 10px;
    padding: 10px;
    z-index: 100;
}

.go-top img {
    height: 60px;
    width: 60x;
}

.row .end {
    /* border: 1px solid #0bb399; */
    display: flex;
}

.row .end .icon {
    margin: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid  #0081B4;
    border-radius: 100px;
}

.row .end .text {
    font: 24px;
    padding: 10px;
}

.socal-media {
    text-align: right;
    font-size: 30px;
}

.socal-media .fa {
    color:  #0081B4;
}

/* Tin Tức */

.tintuc .row{
    margin-top: 10px;
}
.banner_cate img{
    max-width: 100%;
    height: 100%;
}