/* home */
h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #0081B4;
    font-family: serif;
}

h1:after{
    position: relative;
    display: block;
    left: 50%;
    margin-top: 2px;
    margin-bottom: 16px;
    content: " ";
    width: 200px;
    height: 3px;
    transform: skewX(-12deg) translateX(-50%);
    background: radial-gradient( #EFA3C8,#fff);
}

h2{
    color: #0081B4;
    font-family: "Gill Sans", sans-serif;
}
/* menu */
ul{
    list-style-type: none;
}

.accordion {
    /* width: 100%; */
    /* max-width: 360px; */
    margin: 30px auto 20px;
    padding: 0;
    background: #FFF;
    border-radius: 5px;
}

.accordion .catalog {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #B4E4FF;
    font-weight: 700;
    left: 15px;
    font-size: 23px;
    border-radius: 5px;
}

.accordion .fa-bars {
    padding-left: 10px;
    padding-right: 10px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;

    transition: all 0.5s ease;
}

.accordion li i{
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 20px;
    color: #595959;
    transition: all 0.5s ease;
}

.accordion li i.fa-chevron-down{
    right: 12px;
    left: auto;
    font-size: 18px;
}

.accordion li.open .link,
.accordion li.open i {
    color: #0081B4;
}

.accordion li.open i.fa-chevron-down {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    background: #B4E4FF;
    font-size: 14px;
    padding: 0;
}

.submenu li{
    border-bottom: 1px solid #0081B4;
}

.submenu a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px;
    padding-left: 50px;

    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #0081B4;
    color: #FFF;
    padding-left: 70px;
}

/* slideshow */
.row .col-sm-9 {
    margin: 30px auto 20px;
}



/* zoom anh */
.hotdeal .col-sm-4 {
    border: 1px solid #ccc7c8;
}

.zoomin {
    overflow: hidden;
}

.zoomin img {
    transition: all 0.5s ease-in-out;
}

.hotdeal .col-sm-4:hover img {
    transform: scale(1.1);
}

/* zoom anh co chu */
.qtdb{
    margin: 0;
    padding: 0;
}

.hieu_ung{
    transform: translate(0, 0);
    overflow: hidden;
    background:#000;
}

img{
    transition: 0.5s;
}
.hieu_ung:hover img {
    transform: rotate(-5deg) scale(1.2);
    opacity:0.5;
}

.phu_de{
    position: absolute;
    top: 30px;
    left:30px;
    right:30px;
    bottom:30px;
}

.thong_tin{
    position: absolute;
    z-index:1;
    opacity:0;
    transition: 0.5s;
    margin-top: 70px;
}
.hieu_ung:hover .thong_tin{
    opacity: 1;
}
.thong_tin h2{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

/*  */
.price{
    color: red;
    font-weight: 700;
}

.content {
    padding: 10px;
    margin: 10px;
}

.content p {
    text-align: justify;
    font-size: 18px;
}

.content-vid{
    text-align: center;
}

/* chuyen slide */
.col4sp{
    overflow: hidden;
}

.content-img{
    padding: 10px;
    margin: 10px;
    padding-top: 0;
    margin-top: 0;
}

#slide{
    display: flex;
}

.item{
    padding: 10px;
    margin: 10px;
    border: 1px solid  #EFA3C8;
    border-radius: 5px;
    transition: all 0.5s;
}

.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 15px #CCC;
}

.item img{
    width: 300px;
    height: 300px;
}

.buttons {
    /* position: absolute; */
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}

.buttons button:hover {
    background-color:  #0081B4;
}